#abc
{
background-color:grey;
color:blue;
margin-left:500px;
}

.xyz
{
background-color:red;
color:blue;
margin-top:30px;
margin-left:20px;
font-size:30px;
height:250px;
width:150px;
padding:25px;
}