#abc
{
font-family:Vivaldi;
font-size:36px;
letter-spacing:25px;
height:200px;
background-color:pink;
color:red;
}

.xyz
{
font-family:magneto;
font-size:25px;
letter-spacing:36px;
height:200px;
word-spacing:30px;
margin-left:60px;
}
